/* Navigation */
a {
  text-decoration: none;
  color: blue;
  padding: 10px;
}

a:hover {
  color: lightblue;
}

#nav {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* Message Form */

#message-form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  padding-left: 30px;
}

.name .message .time {
  padding: 10px;
}
