
a{
  text-decoration: none;
  color: blue;
  padding: 10px;

}

a:hover{
  color: lightblue;
}

#nav{
display: flex;
justify-content:center;
padding: 10px;
}

#message-form{
  display: flex;
  flex-direction: column;
  width: 20vw
}